/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




:root{
	--letter-Space :3px;

}



.dim{
	background-color: rgb(0, 0, 0, 0.7);
	height: 100vh;
	width: 1920px;
	/* transform: translate(50%,50%); */
	position: absolute;
	z-index: 999;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');
.nav-icon{
	width: 35px;
	height: 35px;
	margin-left: 2em;
}

.nav-icon:hover{
	border-radius: 1em;
	outline: #363636 solid 2px;
}


.logo{
	font-size: 1.8rem;
	font-weight: 600;
	font-family: 'Roboto Mono', monospace;
	letter-spacing: var(--letter-Space);
	color: #EDEDED;
	
}
nav.nav-bar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.1em 5em ;
	background-color: #9A8383;
}


.main-container{
	height: 100vh;
	background-color: #EDEDED;
}

main{
	padding: 3em 10em 2em 10em;	
	/* background-color: #363636; */
}

.inner-main-container{
	background-color: #e2d9d9;
	box-shadow: 10px 10px 20px rgb(0, 0, 0,0.2);
	padding: 2em 0 4em 0;
	/* margin-bottom: 5em; */
	border-radius: 6px;
	height: 70vh;
}


.book-func{
	display: flex;
	align-items: center;
	margin: .5em 8em;
}

.book-func>p{
	font-weight: 700;
	font-size: 2.2rem;
	font-family: 'Roboto Mono', monospace;
	letter-spacing: var(--letter-Space);
	margin-right: auto;
	color: #463A3A;
}

.func-icon{
	width: 30px;
	height: 30px;
	padding-left: 1em;
	/* margin-right: auto; */
}

.logo,button,img:hover{
	cursor: pointer;
}

.book-grid{
	/* outline: black 1px solid; */
	padding: 1.5em 8em 1.5em 8em;
	display: grid;
	/* grid-auto-rows: ; */
	grid-template-rows: repeat(2, minmax(16em , 1fr));
	grid-template-columns: repeat(5, minmax(230px,.2fr));
	row-gap: 30px;
	column-gap: 13px ;
	
}
.book{
	/* outline: black 1px solid; */
	background-color: #A96767;
	padding: 15px 20px;
	border-radius: 6px;
	box-shadow: 5px 5px 10px rgb(0, 0, 0 ,.3);
	border-left: 10px solid rgb(71, 27, 27);
	cursor: pointer;
}


.if-read{
	border-left: 10px solid rgb(140 197 116);
}


/* book contents */

.container>h1{
	color: #F0FFC5;
	font-family: 'Roboto Mono', monospace;
	margin-bottom: .5rem;
}

.content-box{
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.container{
	display: flex;
	flex-direction: column;
}

.description-box{
	border-radius: 2px;
	margin-top: -10px;
	background-color: #CCB2B2;
	padding: 5px 3px;
	font-family: 'Roboto Mono', monospace;
	font-size: 1rem;
	height: 5em;
	width: auto;
	color: #363636;
	margin-top: .4em;
	word-wrap: break-word
}

.desc-user{
	color:#463A3A !important;
}

.user{
	
	font-family: 'Roboto Mono', monospace;
	height: 1rem;
	font-size: .8rem;
	color: #3b3737;
	/* margin: .2em 0 .5em 0; */
}


/* card pop up css */
.pop-up-card{
	/* opacity: 0; */
	background-color: #A96767;
	padding: 40px 20px 20px 20px;
	border-radius: 6px;
	/* box-shadow: 5px 5px 10px rgb(0, 0, 0 ,.3); */
	border-left: 10px solid rgb(71, 27, 27);
	position: absolute;
	z-index: 99999;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: none;
	flex-direction: column;
	width: 300px;
	height: auto;
	box-shadow: 10px 10px 20px rgb(0, 0, 0 ,.3);
}

.pop-up-form{
	/* font-size: 1.5rem; */
	font-family: 'Roboto Mono', monospace;
}
.form-input-label{
	margin-bottom: 2em;
	/* outline: black solid 1px; */
	position: relative;
}


.form-input-label input{
	width: 80%;
	height: 20px;
	border-radius: 5px;
	padding: 5px;
	border: 1px solid lightgrey;
	color:rgb(71, 71, 71);
	font-size: 1rem;
	transition: all 0.3s ease-in-out;
}

.form-input-label label{
	position: absolute;
	left: 5px;
	top:50%;
	transform: translateY(-50%);
	pointer-events: none;
	color: #737373;
	transition: all .3s ease-out;
}

.form-input-label textarea{
	width: 85%;
	height: 100px;
	border-radius: 5px;
	padding: 5px;
	appearance: none;
}

.form-input-label > label[for="description"]{
	/* outline: red solid 1px; */
	position: absolute;
	left: 5px;
	top:15%;
	transform: translateY(-50%);
	pointer-events: none;
	color: #737373;
	transition: all .3s ease-out;
}


.form-input-label input:focus ,
.form-input-label textarea:focus{
	outline: 0;
	/* border-width: 2px; */
}

.form-input-label textarea:focus + label[for="description"]{

	margin-top: -30px;
	/* font-weight: 700; */
	color: whitesmoke;
}


.form-input-label input:focus + label{

	margin-top: -30px;
	/* font-weight: 700; */
	color: whitesmoke;

}


.form-input-label input:not([value=''])
,form-input-label textarea:not([value=''])
{
	border-width: 2px;
}

.form-input-label input:not([value='']) + label
,.form-input-label textarea:not([value='']) + label[for="description"]
{

	margin-top: -30px;
	color: #333;
	font-weight: 700;
	color: whitesmoke;
}


.buttons-container{
	display: flex;
	gap: 5px;
	/* justify-content: space-evenly; */
}
button{
	font-family: 'Roboto Mono', monospace;
	font-size: .7rem;
	margin-top: -15px;
	appearance: none;
	/* border: #333 1px solid; */
	border: 0;
	box-shadow: 2px 2px 5px rgb(0, 0, 0,.4);
	border-radius: 4px;
	background-color: #CCB2B2;
	color:#463A3A;
	/* box-sizing: border-box; */
	padding: 2px 5px;
	transition: all .2s ease-in-out;
}

button:hover{

	font-size: .9rem;
	padding: 3px 6px;
	color: rgb(0, 0, 0);

}

