/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




:root{
	--letter-Space :3px;

}

.dim{
	background-color: rgb(0, 0, 0, 0.7);
	height: 100vh;
	width: 1920px;
	/* transform: translate(50%,50%); */
	position: absolute;
	z-index: 999;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');
.nav-icon{
	width: 50px;
	height: 50px;
	padding-left: 2em;
}
.container{
	background-color: black;
	/* outline: black solid 200px; */
	/* z-index: 0; */
	/* opacity: ; */

}

.right-nav{
	padding-right: 2.4em;
}

.logo{
	font-size: 2.3rem;
	font-weight: 600;
	font-family: 'Roboto Mono', monospace;
	letter-spacing: var(--letter-Space);
	color: #EDEDED;
	
}
nav.nav-bar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em 5em ;
	background-color: #9A8383;
}


main{
	background-color: #EDEDED;
	padding: 2em 15em 1em 15em;	
	height: 86vh;
}


.book-func{
	/* outline: black 1px solid; */
	display: flex;
	/* justify-content: space-between; */
	align-items: center;
	padding: 0 8em;
}

.book-func>p{
	font-weight: 700;
	font-size: 2.2rem;
	font-family: 'Roboto Mono', monospace;
	letter-spacing: var(--letter-Space);
	/* flex: 1; */
	margin-right: auto;
	color: #463A3A;
}

.func-icon{
	width: 30px;
	height: 30px;
	padding-left: 1em;
	/* margin-right: auto; */
}

.logo,button,img:hover{
	cursor: pointer;
}

.book-grid{
	/* outline: black 1px solid; */
	padding: 1.5em 8em 0em 8em;
	display: grid;
	/* grid-auto-rows: ; */
	grid-template-rows: repeat(2, minmax(20em , 1fr));
	grid-template-columns: repeat(4, minmax(230px,1fr));
	row-gap: 30px;
	column-gap: 13px ;

}
.card{
	/* outline: black 1px solid; */
	background-color: #A96767;
	padding: 15px 20px;
	border-radius: 6px;
	box-shadow: 5px 5px 10px rgb(0, 0, 0 ,.3);
	border-left: 10px solid rgb(71, 27, 27);
}


.place-holder-card{
	padding: 15px 20px;
	outline: dashed 1px black;
}
.content-box>h1{
	color: #F0FFC5;
	font-family: 'Roboto Mono', monospace;
}

.content-box{
	display: flex;
	flex-direction: column;
	/* gap: 30px; */
}
.contents{
	padding-bottom: 25px;
	/* outline: solid red 1px; */
}

.description-box{
	border-radius: 2px;
	margin-top: -10px;
	background-color: #CCB2B2;
	padding: 10px 5px;
	font-family: 'Roboto Mono', monospace;
	font-size: .8rem;
	height: 10em;
	width: auto;
	color: #363636;
}

.description-box>p{
	text-overflow:ellipsis;

}


/* card pop up css */

.pop-up-card{
	/* opacity: 0; */
	background-color: #A96767;
	padding: 15px 20px;
	border-radius: 6px;
	/* box-shadow: 5px 5px 10px rgb(0, 0, 0 ,.3); */
	border-left: 10px solid rgb(71, 27, 27);
	position: absolute;
	z-index: 99999;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: none;
	flex-direction: column;
	width: 300px;
	height: auto;

}
.buttons-container{
	display: flex;
}
.pop-up-form{
	font-size: 1.5rem;
	font-family: 'Roboto Mono', monospace;
}

.form-input-label{
	margin-bottom: .6em;
	/* outline: black solid 1px; */
}
label{
	display: block;
	/* width: 100px; */
	/* outline: lightblue solid 1px; */	

}

.description-form{
	display: block;
	width: 50px;
}
	

